{
  "customSyntax": "postcss-scss",
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-rational-order"
  ],
  "plugins": [
    "stylelint-order",
    "stylelint-scss",
    "stylelint-config-rational-order/plugin"
  ],
  "rules": {}
}
