@import "../../scss/mixins/button-reset";
@import "../../scss/mixins/fluid";

.header {
  $block-name: &; // #{$block-name}__element

  background: var(--back-primary);
  box-shadow: var(--shadow-default);

  &__panel {
    display: none;
    padding: 11px 16px 12px;
    background: var(--back-quternary);

    @media screen and (min-width: $screen-d) {
      display: block;
    }
  }

  &__body {
    padding: 8px 4px 8px 9px;

    @media screen and (min-width: $screen-t) {
      padding: 8px 16px;
    }

    @media screen and (min-width: $screen-tl) {
      padding: 14px 16px 15px;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 140px;
    align-items: center;
    max-width: 1640px;
    margin: 0 auto;

    @media screen and (min-width: $screen-d) {
      gap: 180px;
    }
  }

  &__left {
    display: flex;
    gap: fluid(12, 24, 360, 576);
    align-items: center;

    @media screen and (min-width: $screen-d) {
      display: none;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    display: flex;
    align-items: end;
    width: 136px;
    height: 136px;
    padding: 0 9px 20px;
    background: var(--back-primary);
    border-radius: 50%;
    box-shadow: var(--shadow-default);
    transform: translate(-50%, -54px);

    @media screen and (min-width: $screen-d) {
      align-items: center;
      width: 150px;
      height: 150px;
      padding: 8px;
      transform: translate(-50%, -18px);
    }
  }

  &__arrow {
    width: 18px;
    height: 18px;
  }

  &__menu {
    @include button-reset;

    position: relative;
    width: 32px;
    height: 32px;
    padding: 0;
    cursor: pointer;
  }

  &__burger {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    user-select: none;

    [data-state="open"] & {
      transform: rotate(45deg);
    }
  }

  &__burger-line {
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    fill: none;
    stroke: var(--brand-primary);
    stroke-width: 3;
    stroke-linecap: round;

    [data-state="open"] & {
      stroke: var(--front-primary);
    }

    &--top {
      stroke-dasharray: 21 40;
    }

    &--middle {
      stroke-dasharray: 40 142;
      transform-origin: 50%;
      transition: transform 400ms;
    }

    &--bottom {
      stroke-dasharray: 17 35;
      transform-origin: 50%;
      transition: transform 400ms, stroke-dashoffset 400ms;
    }

    [data-state="open"] &--top {
      stroke-dashoffset: -32px;
    }

    [data-state="open"] &--middle {
      transform: rotate(90deg);
    }

    [data-state="open"] &--bottom {
      stroke-dashoffset: -83px;
    }
  }

  &__catalog {
    display: none;
    gap: 15px;

    @media screen and (min-width: $screen-d) {
      display: flex;
    }
  }
}
