// В этом файле должны быть стили для БЭМ-блока header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: https://nicothin.github.io/idiomatic-pre-CSS/#priority
@import "../../scss/mixins/button-appearance-reset";
@import "../../scss/mixins/fluid";
//@import url("../../scss/mixins/button-appearance-reset.scss");
//@import url("../../scss/mixins/fluid.scss");

.header {
  $block-name: &; // #{$block-name}__element

  padding: 8px 0;
  background: var(--back-primary);
  box-shadow: var(--shadow-default);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px 0 9px;
  }

  &__left {
    display: flex;
    gap: fluid(12, 24, 360, 576);
  }

  &__right {
    display: flex;
    gap: fluid(0, 8, 360, 576);
    align-items: center;
  }

  &__links {
    display: flex;
    gap: fluid(0, 20, 360, 576);
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    display: flex;
    align-items: end;
    width: 136px;
    height: 136px;
    padding: 0 9px 20px;
    background: var(--back-primary);
    border-radius: 50%;
    box-shadow: var(--shadow-default);
    transform: translate(-50%, -54px);
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__menu {
    @include button-appearance-reset;

    position: relative;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }

  &__burger {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    user-select: none;

    [data-state="open"] & {
      transform: rotate(45deg);
    }
  }

  &__burger-line {
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    fill: none;
    stroke: var(--brand-primary);
    stroke-width: 3;
    stroke-linecap: round;

    [data-state="open"] & {
      stroke: var(--front-primary);
    }

    &--top {
      stroke-dasharray: 21 40;
    }

    &--middle {
      stroke-dasharray: 40 142;
      transform-origin: 50%;
      transition: transform 400ms;
    }

    &--bottom {
      stroke-dasharray: 17 35;
      transform-origin: 50%;
      transition: transform 400ms, stroke-dashoffset 400ms;
    }

    [data-state="open"] &--top {
      stroke-dashoffset: -32px;
    }

    [data-state="open"] &--middle {
      transform: rotate(90deg);
    }

    [data-state="open"] &--bottom {
      stroke-dashoffset: -83px;
    }
  }

  &__discount {
    @include button-appearance-reset;

    width: 32px;
    height: 32px;
    background: var(--accent-yellow);
    border-radius: 5px;

    #{$block-name}__icon {
      fill: var(--front-primary);
    }
  }

  &__link {
    #{$block-name}__icon {
      fill: var(--front-tertiary);
    }
  }

  &__cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 5px;

    #{$block-name}__icon {
      fill: var(--brand-primary);
    }
  }
}
