@import "../../scss/mixins/button-reset";

.header-search {
  $block-name: &; // #{$block-name}__element

  position: relative;
  width: 100%;

  &__button {
    @include button-reset;

    position: absolute;
    top: 50%;
    right: 7px;
    padding: 8px;
    transform: translateY(-50%);
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}
